<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.VerifyLogin"/>
      <class name="testcases.VerifyAddNewUser"/>
      <class name="stepdefinitions.Hooks"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
